* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* FONTES

 .staatliches-regular {
  font-family: "Staatliches", system-ui;
  }
  
  .poppins-thin {
    font-family: "Poppins", system-ui;
    }
    */
    
    body {
      background: #BFD7E4;
      font-family: "Poppins", system-ui;
      
    }
    
    body::before {
      content: '';
      background: #293241;
      width: 100%;
      height: 465px;
      
      top: 0;
      left: 0; 
      
      position: absolute;
      z-index: -1;
    }
    
    .page {
      width: 750px;
      margin: auto;
      padding-bottom: 30px;
    }
    
    /* -----------------------------Cabeçalho---------------------- */
    
    header {
      margin-top: 107px;
      text-align: center;
      
    }
    
    h1 {
      font-family: "Staatliches", system-ui;
      font-size: 36px;
      font-weight: normal;
      color: #FFF;
    }
    
    p {
      color: #FFF;
      font-size: 16px;
      font-weight: regular ;
      margin-bottom: 29px;
    }
    
    img {
      
    }
    
    
    
    
    /* ---------------------------------Form--------------------------- */
    
form {
  padding: 32px 64px 64px;
  min-height: 300px;
  
  background: #FFF;
  
  border: none;
  border-radius: 0 0 8px 8px;

  display: flex;
  flex-direction: column;
  gap: 31px;

}
    
fieldset {
 border: none;

}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset legend {
  font-family: "Staatliches", system-ui;
 
  font-size: 24px;
  line-height: 34px;
  text-align: center;

  width: 100%;
 
  
  padding: 8px;
  border-bottom: 1px solid #E6E6F0;
  margin-bottom: 32px;
}

.fieldset-legend {
  width: 100%;
  height: 133px;
  background: #F67669;
  border-radius: 8px 8px 0 0;
  padding: 50px 275px;
}
    
.fieldset-legend legend {
  font-family: "Staatliches", system-ui;
  color: #fff;
  font-size: 24px;
  line-height: 34px;

}

.in-line {
  display: flex;
  gap: 21px;
}

.in-line-smallgap {
  display: flex;
  gap: 10px;
}

.in-line-largegap {
  display: flex;
  gap: 30px;
}

input:invalid {
  border: 2px solid red;

}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select 
{
  width: 622px;
  height: 55px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.input-wrapper .input-small {
  width: 300px;
  height: 55px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}
.input-wrapper .input-tiny {
  width: 140px;
  height: 55px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.input-wrapper label , .checkbox-wrapper {
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
}

.input-wrapper label span {
  margin-left: 3px;

  font-size: 12px;
  line-height: 20px;
  
  color: #C1BCCC;
}

.input-wrapper select {
  padding-left: 10px;
  text-transform: uppercase;
  appearance: none;
  -webkit-appearance: none;
  color: #686175;
}

.input-wrapper textarea {
  padding: 10px;
  height: 166px;

}

.feedback {
  margin-top: 15px;
  margin-bottom: 13px;

}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper input{
  position: absolute;
  top: 0;
  left: 0;
  width: 23.8px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;

}



.checkbox-wrapper label::before {
  content: '';
  width: 23.8px;
  height: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  display: block;
 
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6001_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6001_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

}

.checkbox-wrapper input:focus + label::before {
  border: 2px solid black;

}

.form-buttons input {
  width: 622px;
  height: 51px;


  background: #F67669;
  border: none;
  border-radius: 8px;
  
  color: #FFF;
  font-family: "Staatliches", system-ui;
  font-size: 20px;
  line-height: 26px;
}

.form-buttons input:hover {
  cursor: pointer;
  background-color: #c4493c;
}